.users-page {
    background-color: #1b2431;
    padding: 2rem;
    height: 100%;
    color: #E0E0E0;
}

.users-page .ant-input {
    background-color: #2b3760 !important;
    border-color: #2b3760 !important;
    color: #E0E0E0 !important;
    margin-bottom: 20px;
    width: 50%; /* Reduced width */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.users-page .ant-input::placeholder {
    color: rgba(224, 224, 224, 0.5) !important;
}

.users-page .ant-table {
    border-left: 1px solid #2b3760;
    border-top: 1px solid #2b3760;
}

.users-page .ant-table-thead > tr > th:first-child,
.users-page .ant-table-tbody > tr > td:first-child {
    border-left: 1px solid #2b3760 !important;
}

.users-page .ant-table-thead > tr > th {
    color: #E0E0E0 !important;
    font-weight: bold !important; /* Bold header text */
    border-bottom: 1px solid #2b3760 !important;
    border-right: 1px solid #2b3760 !important;
    background-color: #1b2431 !important;
}

.users-page .ant-table-tbody > tr > td {
    color: rgba(224, 224, 224, 0.7) !important; /* Lighter cell text */
    border-bottom: 1px solid #2b3760 !important;
    border-right: 1px solid #2b3760 !important;
    background-color: #1b2431 !important; /* Matching cell background with search input */
}

.users-page .ant-table-tbody > tr.ant-table-row:hover {
    background-color: rgba(43, 55, 96, 0.7) !important;
}

.users-page .ant-switch-checked {
    background-color: #1890ff !important;
}

.users-page .ant-switch {
    background-color: #2b3760 !important;
    border-color: #2b3760 !important;
}

.users-page .ant-switch .ant-click-animating-node {
    background-color: #E0E0E0 !important;
}

/* Pagination styles */
.users-page .ant-pagination-item {
    background-color: transparent !important;
    border-color: #2b3760 !important;
}

.users-page .ant-pagination-item a {
    color: #E0E0E0 !important;
}

.users-page .ant-pagination-item-active {
    font-weight: bold;
}

.users-page .ant-pagination-item-active a {
    color: #1890ff !important;
}

.users-page .ant-pagination-prev, .users-page .ant-pagination-next {
    color: #E0E0E0 !important;
    border-color: #2b3760 !important;
}

.users-page .ant-pagination-prev:focus, .users-page .ant-pagination-next:focus,
.users-page .ant-pagination-prev:hover, .users-page .ant-pagination-next:hover {
    color: #1890ff !important;
    border-color: #2b3760 !important;
}

.users-page .ant-pagination-disabled {
    color: rgba(224, 224, 224, 0.5) !important;
}
